/* ESTILOS DE PAGE - FLORES DE BACH */
.img-page-flores {
    border-radius: 50px 2px;
    box-shadow: 3px 3px 3px 5px  #783a749a;
}
.datito-flores {
    font-family: 'Focus', serif;
    font-style: italic;
    font-size: 20px;
}