/* FOOTER */
footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
  
.copyright {
    font-size: 14px;
    color: #666;
    opacity: 0.8;
}
  