/* FOTO POST NAVBAR */
.chakras {
    margin-top: 20px;
    margin-bottom: 25px;
    justify-content: center; 
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000097;
}
.titulo {
    justify-content: center;
    text-shadow: 5px 5px 5px #000000c3;
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 110px;
    margin-right: 470px;
}