/* FOTO POST NAVBAR */
.chakras {
    margin-bottom: 25px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000097;
}
.titulo {
    margin-bottom: 48%;
    text-shadow: 5px 5px 5px #000000c3;
    font-size: 120px;
    font-family: 'Great Vibes', cursive;
}