/* MEDITACION FINAL DE PAGINA */
.meditacion {
    font-family: 'Forum', serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.list-group-item {
    font-weight: 600;
}
.img-meditacion {
    box-shadow: 4px 4px 4px 4px #808080;
    border-radius: 35px;
}