/* NAVBAR */
.container-fluid {
    background-color: #783a74;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.navbar-brand {
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    font-size: 28px;
    font-weight: 200;
    &:hover {
        color: #ffffff;
        text-shadow: 0 4px 8px #e79be7;
    }
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link {
    font-family: 'Forum', serif;
    color: #ffffff;
    font-size: 20px;
    &:hover {
        text-decoration: underline;
    }
}
.dropdown-item {
    &:hover {
        color: #ffffff;
        background-color: #b98db9;
    }
}
.navbar-collapse {
    z-index: 1000;
}