/* ESTILOS DE LA PAGE REIKI */
.img-reiki {
    border-radius: 50px 2px;
    box-shadow: 3px 3px 3px 5px  #783a749a;
}
.niveles-reiki {
    font-family: 'Forum', serif;
    font-size: 22px;
}
.tipos-reiki {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}