/* STYLES PAGE TERAPIAS*/
.bg-lila {
    background: linear-gradient(to bottom, #d9d9d9ff, #783a74ca); /* Gradiente lineal de amarillo a naranja */
  }
  
.img-cuenco-terapias {
    width: 290px;
    height: 300px;
    border-radius: 50px 2px;
    box-shadow: 3px 3px 3px 5px  #783a749a;
}
